menu "WiFi configuration"

	config WIFI_SSID
		string "WIFI Network SSID"
		help
			Enter the SSID of the wifi network

	config WIFI_PASSWORD
		string "WIFI Network Password"
		help
			Enter the password of the wifi network

	config APP_PROTOCOL
		string "Application Protocol (HTTP/HTTPS/MQTT)"
		default "HTTP"
		help
			Enter the Application Protocol (HTTP, HTTPS or MQTT)

	config HTTP_WEBSITE
		string "HTTP target"
		default "api.thingspeak.com"
		help
			Enter the address of the target website (for HTTP only)

	config HTTPS_WEBSITE
		string "HTTPS target"
		default "www.thingspeak.com"
		help
			Enter the address of the target website (for HTTPS only)

	config MQTT_BROKER
		string "MQTT broker"
		default "thingspeak"
		help
			Enter the name of the MQTT broker (thingspeak or adafruit)
	
endmenu